In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
train = pd.read_csv("train.csv", header=None)

In [3]:
train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
train.shape

(32561, 15)

In [5]:
train.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64

In [6]:
type(train)

pandas.core.frame.DataFrame

In [7]:
train.columns = [
"age",
"workclass",
"fnlwgt",
"education",
"education-num",
"marital-status",
"occupation",
"relationship",
"race",
"sex",
"capital-gain",
"capital-loss",
"hours-per-week",
"native-country",
"income"]

In [8]:
train.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [9]:
column_names = train.columns

In [10]:
column_names

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [11]:
train.shape[0]

32561

In [12]:
train['native-country'].isin([" ?"]).value_counts()

False    31978
True       583
Name: native-country, dtype: int64

In [13]:
for c in column_names:
    count = train[c].isin([" ?"]).sum()
    if(count>0):
        print(c)
        print(count)
        print(count*100/32561)
        print(" ")

workclass
1836
5.638647461687294

occupation
1843
5.660145572924664

native-country
583
1.7904855501980896

In [14]:
train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [15]:
train['workclass'].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [16]:
for c in column_names:
    train[c] = train[c].replace(" ?", np.NaN)

In [17]:
train.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [18]:
train = train.apply(lambda x: x.fillna(x.value_counts().index[0]))
train.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [19]:
# train= train[train['occupation']!= " ?"]
# train= train[train['workclass']!= " ?"]
# train= train[train['native-country']!= " ?"]

In [20]:
train.shape

(32561, 15)

In [21]:
train.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [22]:
for c in column_names:
    print(c , " ------>", type(train[c][0]))

age  ------> <class 'numpy.int64'>
workclass  ------> <class 'str'>
fnlwgt  ------> <class 'numpy.int64'>
education  ------> <class 'str'>
education-num  ------> <class 'numpy.int64'>
marital-status  ------> <class 'str'>
occupation  ------> <class 'str'>
relationship  ------> <class 'str'>
race  ------> <class 'str'>
sex  ------> <class 'str'>
capital-gain  ------> <class 'numpy.int64'>
capital-loss  ------> <class 'numpy.int64'>
hours-per-week  ------> <class 'numpy.int64'>
native-country  ------> <class 'str'>
income  ------> <class 'str'>

In [23]:
column_names_str = ["workclass","education","marital-status","occupation", "relationship","race","sex","native-country","income"]

In [24]:
for c in column_names_str:
    print(c)
    print(train[c].value_counts())
    print("-------------------")

workclass
 Private             24532
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64
-------------------
education
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64
-------------------
marital-status
 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital-status, dtype: int64
-------------------
occupation
 Prof-specialty       5983
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64
-------------------
relationship
 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64
-------------------
race
 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64
-------------------
sex
 Male      21790
 Female    10771
Name: sex, dtype: int64
-------------------
native-country
 United-States                 29753
 Mexico                          643
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native-country, dtype: int64
-------------------
income
 <=50K    24720
 >50K      7841
Name: income, dtype: int64
-------------------

In [25]:
train['income'].value_counts()[0]/train.shape[0]

0.7591904425539756

In [26]:
train['income'].value_counts()[1]/train.shape[0]

0.2408095574460244

In [27]:
train['marital-status'].unique()

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)

In [28]:
train.replace([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'],
               [' not-married', ' married', ' not-married',
       ' married', ' not-married', ' married',
       ' not-married'], inplace=True)

In [29]:
train['marital-status'].unique()

array([' not-married', ' married'], dtype=object)

In [30]:
column_names_str

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country',
 'income']

In [31]:
Workclass = pd.get_dummies(train['workclass'],drop_first=True)
Education = pd.get_dummies(train['education'],drop_first=True)
MaritalStatus = pd.get_dummies(train['marital-status'],drop_first=True)
Occupation = pd.get_dummies(train['occupation'],drop_first=True)
Relationship = pd.get_dummies(train['relationship'],drop_first=True)
Race = pd.get_dummies(train['race'],drop_first=True)
Sex = pd.get_dummies(train['sex'],drop_first=True)
NativeCountry = pd.get_dummies(train['native-country'],drop_first=True)
Income = pd.get_dummies(train['income'],drop_first=True)

In [32]:
train.drop(['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country',
 'income'], axis=1, inplace=True)

In [33]:
train = pd.concat([Workclass,Education,MaritalStatus,Occupation,Relationship,Race,Sex,NativeCountry,Income],axis=1)

In [34]:
train.head()

,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay,11th,12th,1st-4th,...,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia,>50K
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
train.keys()

Index([' Local-gov', ' Never-worked', ' Private', ' Self-emp-inc',
       ' Self-emp-not-inc', ' State-gov', ' Without-pay', ' 11th', ' 12th',
       ' 1st-4th', ' 5th-6th', ' 7th-8th', ' 9th', ' Assoc-acdm', ' Assoc-voc',
       ' Bachelors', ' Doctorate', ' HS-grad', ' Masters', ' Preschool',
       ' Prof-school', ' Some-college', ' not-married', ' Armed-Forces',
       ' Craft-repair', ' Exec-managerial', ' Farming-fishing',
       ' Handlers-cleaners', ' Machine-op-inspct', ' Other-service',
       ' Priv-house-serv', ' Prof-specialty', ' Protective-serv', ' Sales',
       ' Tech-support', ' Transport-moving', ' Not-in-family',
       ' Other-relative', ' Own-child', ' Unmarried', ' Wife',
       ' Asian-Pac-Islander', ' Black', ' Other', ' White', ' Male', ' Canada',
       ' China', ' Columbia', ' Cuba', ' Dominican-Republic', ' Ecuador',
       ' El-Salvador', ' England', ' France', ' Germany', ' Greece',
       ' Guatemala', ' Haiti', ' Holand-Netherlands', ' Honduras', ' Hong',
       ' Hungary', ' India', ' Iran', ' Ireland', ' Italy', ' Jamaica',
       ' Japan', ' Laos', ' Mexico', ' Nicaragua',
       ' Outlying-US(Guam-USVI-etc)', ' Peru', ' Philippines', ' Poland',
       ' Portugal', ' Puerto-Rico', ' Scotland', ' South', ' Taiwan',
       ' Thailand', ' Trinadad&Tobago', ' United-States', ' Vietnam',
       ' Yugoslavia', ' >50K'],
      dtype='object')

In [36]:
train.shape

(32561, 87)

In [37]:
#because it is irrelevant
train.drop([' Holand-Netherlands'], axis=1, inplace=True)

In [38]:
train.shape

(32561, 86)

In [39]:
test = pd.read_csv('test.csv', header=None)

In [40]:
test.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [41]:
test.shape

(16281, 15)

In [42]:
def clean_data(dataset):
    dataset.columns = [
    "age",
    "workclass",
    "fnlwgt",
    "education",
    "education-num",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "capital-gain",
    "capital-loss",
    "hours-per-week",
    "native-country",
    "income"]

    column_names = dataset.columns

    for c in column_names:
        dataset[c] = dataset[c].replace(" ?", np.NaN)

    dataset = dataset.apply(lambda x: x.fillna(x.value_counts().index[0]))
#     dataset= dataset[dataset['occupation']!= " ?"]
#     dataset= dataset[dataset['workclass']!= " ?"]
#     dataset= dataset[dataset['native-country']!= " ?"]

    column_names_str = ["workclass","education","marital-status","occupation", "relationship","race","sex","native-country","income"]


    dataset.replace([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'],
               [' not-married', ' married', ' not-married',
       ' married', ' not-married', ' married',
       ' not-married'], inplace=True)



    Workclass = pd.get_dummies(dataset['workclass'],drop_first=True)
    Education = pd.get_dummies(dataset['education'],drop_first=True)
    MaritalStatus = pd.get_dummies(dataset['marital-status'],drop_first=True)
    Occupation = pd.get_dummies(dataset['occupation'],drop_first=True)
    Relationship = pd.get_dummies(dataset['relationship'],drop_first=True)
    Race = pd.get_dummies(dataset['race'],drop_first=True)
    Sex = pd.get_dummies(dataset['sex'],drop_first=True)
    NativeCountry = pd.get_dummies(dataset['native-country'],drop_first=True)
    Income = pd.get_dummies(dataset['income'],drop_first=True)


    dataset.drop(['workclass',
     'education',
     'marital-status',
     'occupation',
     'relationship',
     'race',
     'sex',
     'native-country',
     'income'], axis=1, inplace=True)

    dataset = pd.concat([Workclass,Education,MaritalStatus,Occupation,Relationship,Race,Sex,NativeCountry,Income],axis=1)
    return dataset

In [43]:
test = clean_data(test)

In [44]:
test.shape

(16281, 86)

In [45]:
test.keys()

Index([' Local-gov', ' Never-worked', ' Private', ' Self-emp-inc',
       ' Self-emp-not-inc', ' State-gov', ' Without-pay', ' 11th', ' 12th',
       ' 1st-4th', ' 5th-6th', ' 7th-8th', ' 9th', ' Assoc-acdm', ' Assoc-voc',
       ' Bachelors', ' Doctorate', ' HS-grad', ' Masters', ' Preschool',
       ' Prof-school', ' Some-college', ' not-married', ' Armed-Forces',
       ' Craft-repair', ' Exec-managerial', ' Farming-fishing',
       ' Handlers-cleaners', ' Machine-op-inspct', ' Other-service',
       ' Priv-house-serv', ' Prof-specialty', ' Protective-serv', ' Sales',
       ' Tech-support', ' Transport-moving', ' Not-in-family',
       ' Other-relative', ' Own-child', ' Unmarried', ' Wife',
       ' Asian-Pac-Islander', ' Black', ' Other', ' White', ' Male', ' Canada',
       ' China', ' Columbia', ' Cuba', ' Dominican-Republic', ' Ecuador',
       ' El-Salvador', ' England', ' France', ' Germany', ' Greece',
       ' Guatemala', ' Haiti', ' Honduras', ' Hong', ' Hungary', ' India',
       ' Iran', ' Ireland', ' Italy', ' Jamaica', ' Japan', ' Laos', ' Mexico',
       ' Nicaragua', ' Outlying-US(Guam-USVI-etc)', ' Peru', ' Philippines',
       ' Poland', ' Portugal', ' Puerto-Rico', ' Scotland', ' South',
       ' Taiwan', ' Thailand', ' Trinadad&Tobago', ' United-States',
       ' Vietnam', ' Yugoslavia', ' >50K.'],
      dtype='object')

In [46]:
train.keys()

Index([' Local-gov', ' Never-worked', ' Private', ' Self-emp-inc',
       ' Self-emp-not-inc', ' State-gov', ' Without-pay', ' 11th', ' 12th',
       ' 1st-4th', ' 5th-6th', ' 7th-8th', ' 9th', ' Assoc-acdm', ' Assoc-voc',
       ' Bachelors', ' Doctorate', ' HS-grad', ' Masters', ' Preschool',
       ' Prof-school', ' Some-college', ' not-married', ' Armed-Forces',
       ' Craft-repair', ' Exec-managerial', ' Farming-fishing',
       ' Handlers-cleaners', ' Machine-op-inspct', ' Other-service',
       ' Priv-house-serv', ' Prof-specialty', ' Protective-serv', ' Sales',
       ' Tech-support', ' Transport-moving', ' Not-in-family',
       ' Other-relative', ' Own-child', ' Unmarried', ' Wife',
       ' Asian-Pac-Islander', ' Black', ' Other', ' White', ' Male', ' Canada',
       ' China', ' Columbia', ' Cuba', ' Dominican-Republic', ' Ecuador',
       ' El-Salvador', ' England', ' France', ' Germany', ' Greece',
       ' Guatemala', ' Haiti', ' Honduras', ' Hong', ' Hungary', ' India',
       ' Iran', ' Ireland', ' Italy', ' Jamaica', ' Japan', ' Laos', ' Mexico',
       ' Nicaragua', ' Outlying-US(Guam-USVI-etc)', ' Peru', ' Philippines',
       ' Poland', ' Portugal', ' Puerto-Rico', ' Scotland', ' South',
       ' Taiwan', ' Thailand', ' Trinadad&Tobago', ' United-States',
       ' Vietnam', ' Yugoslavia', ' >50K'],
      dtype='object')

In [47]:
test.columns = [' Local-gov', ' Never-worked', ' Private', ' Self-emp-inc',
       ' Self-emp-not-inc', ' State-gov', ' Without-pay', ' 11th', ' 12th',
       ' 1st-4th', ' 5th-6th', ' 7th-8th', ' 9th', ' Assoc-acdm', ' Assoc-voc',
       ' Bachelors', ' Doctorate', ' HS-grad', ' Masters', ' Preschool',
       ' Prof-school', ' Some-college', ' not-married', ' Armed-Forces',
       ' Craft-repair', ' Exec-managerial', ' Farming-fishing',
       ' Handlers-cleaners', ' Machine-op-inspct', ' Other-service',
       ' Priv-house-serv', ' Prof-specialty', ' Protective-serv', ' Sales',
       ' Tech-support', ' Transport-moving', ' Not-in-family',
       ' Other-relative', ' Own-child', ' Unmarried', ' Wife',
       ' Asian-Pac-Islander', ' Black', ' Other', ' White', ' Male', ' Canada',
       ' China', ' Columbia', ' Cuba', ' Dominican-Republic', ' Ecuador',
       ' El-Salvador', ' England', ' France', ' Germany', ' Greece',
       ' Guatemala', ' Haiti', ' Honduras', ' Hong', ' Hungary', ' India',
       ' Iran', ' Ireland', ' Italy', ' Jamaica', ' Japan', ' Laos', ' Mexico',
       ' Nicaragua', ' Outlying-US(Guam-USVI-etc)', ' Peru', ' Philippines',
       ' Poland', ' Portugal', ' Puerto-Rico', ' Scotland', ' South',
       ' Taiwan', ' Thailand', ' Trinadad&Tobago', ' United-States',
       ' Vietnam', ' Yugoslavia', ' >50K']

In [48]:
test.head()

,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay,11th,12th,1st-4th,...,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia,>50K
0,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [49]:
test.shape

(16281, 86)

In [50]:
test.keys()

Index([' Local-gov', ' Never-worked', ' Private', ' Self-emp-inc',
       ' Self-emp-not-inc', ' State-gov', ' Without-pay', ' 11th', ' 12th',
       ' 1st-4th', ' 5th-6th', ' 7th-8th', ' 9th', ' Assoc-acdm', ' Assoc-voc',
       ' Bachelors', ' Doctorate', ' HS-grad', ' Masters', ' Preschool',
       ' Prof-school', ' Some-college', ' not-married', ' Armed-Forces',
       ' Craft-repair', ' Exec-managerial', ' Farming-fishing',
       ' Handlers-cleaners', ' Machine-op-inspct', ' Other-service',
       ' Priv-house-serv', ' Prof-specialty', ' Protective-serv', ' Sales',
       ' Tech-support', ' Transport-moving', ' Not-in-family',
       ' Other-relative', ' Own-child', ' Unmarried', ' Wife',
       ' Asian-Pac-Islander', ' Black', ' Other', ' White', ' Male', ' Canada',
       ' China', ' Columbia', ' Cuba', ' Dominican-Republic', ' Ecuador',
       ' El-Salvador', ' England', ' France', ' Germany', ' Greece',
       ' Guatemala', ' Haiti', ' Honduras', ' Hong', ' Hungary', ' India',
       ' Iran', ' Ireland', ' Italy', ' Jamaica', ' Japan', ' Laos', ' Mexico',
       ' Nicaragua', ' Outlying-US(Guam-USVI-etc)', ' Peru', ' Philippines',
       ' Poland', ' Portugal', ' Puerto-Rico', ' Scotland', ' South',
       ' Taiwan', ' Thailand', ' Trinadad&Tobago', ' United-States',
       ' Vietnam', ' Yugoslavia', ' >50K'],
      dtype='object')

In [51]:
train.keys()

Index([' Local-gov', ' Never-worked', ' Private', ' Self-emp-inc',
       ' Self-emp-not-inc', ' State-gov', ' Without-pay', ' 11th', ' 12th',
       ' 1st-4th', ' 5th-6th', ' 7th-8th', ' 9th', ' Assoc-acdm', ' Assoc-voc',
       ' Bachelors', ' Doctorate', ' HS-grad', ' Masters', ' Preschool',
       ' Prof-school', ' Some-college', ' not-married', ' Armed-Forces',
       ' Craft-repair', ' Exec-managerial', ' Farming-fishing',
       ' Handlers-cleaners', ' Machine-op-inspct', ' Other-service',
       ' Priv-house-serv', ' Prof-specialty', ' Protective-serv', ' Sales',
       ' Tech-support', ' Transport-moving', ' Not-in-family',
       ' Other-relative', ' Own-child', ' Unmarried', ' Wife',
       ' Asian-Pac-Islander', ' Black', ' Other', ' White', ' Male', ' Canada',
       ' China', ' Columbia', ' Cuba', ' Dominican-Republic', ' Ecuador',
       ' El-Salvador', ' England', ' France', ' Germany', ' Greece',
       ' Guatemala', ' Haiti', ' Honduras', ' Hong', ' Hungary', ' India',
       ' Iran', ' Ireland', ' Italy', ' Jamaica', ' Japan', ' Laos', ' Mexico',
       ' Nicaragua', ' Outlying-US(Guam-USVI-etc)', ' Peru', ' Philippines',
       ' Poland', ' Portugal', ' Puerto-Rico', ' Scotland', ' South',
       ' Taiwan', ' Thailand', ' Trinadad&Tobago', ' United-States',
       ' Vietnam', ' Yugoslavia', ' >50K'],
      dtype='object')

## Clean Data

In [52]:
X_train = train.drop(' >50K',axis=1)
X_test = test.drop(' >50K',axis=1)
y_train = train[' >50K']
y_test = test[' >50K']

In [53]:
from sklearn.linear_model import LogisticRegression

In [145]:
logmodel = LogisticRegression(C=1)
logmodel.fit(X_train,y_train)

c:\users\mohit uniyal\anaconda3\envs\tensorflow\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [146]:
predictions = logmodel.predict(X_test)

In [147]:
from sklearn.metrics import classification_report , confusion_matrix , accuracy_score

In [148]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.86      0.93      0.90     12435
           1       0.70      0.53      0.60      3846

   micro avg       0.83      0.83      0.83     16281
   macro avg       0.78      0.73      0.75     16281
weighted avg       0.82      0.83      0.83     16281

In [149]:
print(confusion_matrix(y_test,predictions))

[[11557   878]
 [ 1819  2027]]

In [150]:
accuracy_score(y_test, predictions)

0.8343467845955408

In [151]:
print(logmodel.score(X_train, y_train))
print(logmodel.score(X_test, y_test))

0.8300113632873684
0.8343467845955408

In [61]:
from sklearn.neighbors import KNeighborsClassifier

In [62]:
knn = KNeighborsClassifier(n_neighbors=5)

In [63]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [64]:
pred = knn.predict(X_test)

In [65]:
accuracy_score(y_test, pred)

0.814937657392052

In [66]:
from sklearn.svm import SVC

In [67]:
model = SVC()

In [68]:
model.fit(X_train,y_train)

c:\users\mohit uniyal\anaconda3\envs\tensorflow\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [69]:
predictions = model.predict(X_test)

In [70]:
accuracy_score(y_test, predictions)

0.8247036422824151

In [71]:
from sklearn.tree import DecisionTreeClassifier

In [72]:
dtree = DecisionTreeClassifier()

In [73]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [74]:
predictions = dtree.predict(X_test)

In [75]:
accuracy_score(y_test,predictions)

0.8202813095018734

In [76]:
import tensorflow as tf

In [77]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [78]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

c:\users\mohit uniyal\anaconda3\envs\tensorflow\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
c:\users\mohit uniyal\anaconda3\envs\tensorflow\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
c:\users\mohit uniyal\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype uint8 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [79]:
X_train.shape

(32561, 85)

In [80]:
classifier = Sequential()

classifier.add(Dense(output_dim = 10, init = 'uniform', activation = 'relu', input_dim = 85))
classifier.add(Dense(output_dim = 10, init = 'uniform', activation = 'relu'))
classifier.add(Dense(output_dim = 10, init = 'uniform', activation = 'relu'))
classifier.add(Dense(output_dim = 10, init = 'uniform', activation = 'relu'))
classifier.add(Dense(output_dim = 10, init = 'uniform', activation = 'relu'))
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
                   
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

WARNING:tensorflow:From c:\users\mohit uniyal\anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

c:\users\mohit uniyal\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=85, units=10, kernel_initializer="uniform")`
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\mohit uniyal\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=10, kernel_initializer="uniform")`
  after removing the cwd from sys.path.
c:\users\mohit uniyal\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=10, kernel_initializer="uniform")`
  """
c:\users\mohit uniyal\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=10, kernel_initializer="uniform")`

c:\users\mohit uniyal\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=10, kernel_initializer="uniform")`
  import sys
c:\users\mohit uniyal\anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:8: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`

WARNING:tensorflow:From c:\users\mohit uniyal\anaconda3\envs\tensorflow\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
32561/32561 [==============================] - 4s 125us/step - loss: 0.4039 - acc: 0.8047
Epoch 2/100
32561/32561 [==============================] - 3s 104us/step - loss: 0.3802 - acc: 0.8224
Epoch 3/100
32561/32561 [==============================] - 4s 115us/step - loss: 0.3753 - acc: 0.8250
Epoch 4/100
32561/32561 [==============================] - 4s 121us/step - loss: 0.3719 - acc: 0.8262
Epoch 5/100
32561/32561 [==============================] - 4s 117us/step - loss: 0.3688 - acc: 0.8293
Epoch 6/100
32561/32561 [==============================] - 4s 117us/step - loss: 0.3681 - acc: 0.8280
Epoch 7/100
32561/32561 [==============================] - 3s 105us/step - loss: 0.3662 - acc: 0.8289
Epoch 8/100
32561/32561 [==============================] - 4s 112us/step - loss: 0.3652 - acc: 0.8308
Epoch 9/100
32561/32561 [==============================] - 3s 105us/step - loss: 0.3638 - acc: 0.8308
Epoch 10/100
32561/32561 [==============================] - 4s 108us/step - loss: 0.3629 - acc: 0.8313
Epoch 11/100
32561/32561 [==============================] - 4s 110us/step - loss: 0.3620 - acc: 0.8320
Epoch 12/100
32561/32561 [==============================] - 3s 100us/step - loss: 0.3606 - acc: 0.8327
Epoch 13/100
32561/32561 [==============================] - 4s 116us/step - loss: 0.3606 - acc: 0.8331
Epoch 14/100
32561/32561 [==============================] - 3s 99us/step - loss: 0.3599 - acc: 0.8334
Epoch 15/100
32561/32561 [==============================] - 3s 101us/step - loss: 0.3593 - acc: 0.8342
Epoch 16/100
32561/32561 [==============================] - 3s 100us/step - loss: 0.3586 - acc: 0.8336
Epoch 17/100
32561/32561 [==============================] - 4s 121us/step - loss: 0.3581 - acc: 0.8339
Epoch 18/100
32561/32561 [==============================] - 4s 109us/step - loss: 0.3585 - acc: 0.8325
Epoch 19/100
32561/32561 [==============================] - 4s 109us/step - loss: 0.3579 - acc: 0.8333
Epoch 20/100
32561/32561 [==============================] - 4s 120us/step - loss: 0.3576 - acc: 0.8342
Epoch 21/100
32561/32561 [==============================] - 3s 97us/step - loss: 0.3573 - acc: 0.8350
Epoch 22/100
32561/32561 [==============================] - 4s 115us/step - loss: 0.3573 - acc: 0.8336
Epoch 23/100
32561/32561 [==============================] - 4s 119us/step - loss: 0.3567 - acc: 0.8346
Epoch 24/100
32561/32561 [==============================] - 3s 105us/step - loss: 0.3568 - acc: 0.8356
Epoch 25/100
32561/32561 [==============================] - 3s 101us/step - loss: 0.3562 - acc: 0.8350
Epoch 26/100
32561/32561 [==============================] - 3s 100us/step - loss: 0.3564 - acc: 0.8344
Epoch 27/100
32561/32561 [==============================] - 3s 100us/step - loss: 0.3563 - acc: 0.8341
Epoch 28/100
32561/32561 [==============================] - 3s 101us/step - loss: 0.3559 - acc: 0.8352
Epoch 29/100
32561/32561 [==============================] - 3s 100us/step - loss: 0.3551 - acc: 0.8348
Epoch 30/100
32561/32561 [==============================] - 3s 106us/step - loss: 0.3554 - acc: 0.8353
Epoch 31/100
32561/32561 [==============================] - 4s 111us/step - loss: 0.3551 - acc: 0.8346
Epoch 32/100
32561/32561 [==============================] - 4s 112us/step - loss: 0.3547 - acc: 0.8346
Epoch 33/100
32561/32561 [==============================] - 4s 113us/step - loss: 0.3552 - acc: 0.8342
Epoch 34/100
32561/32561 [==============================] - 4s 137us/step - loss: 0.3549 - acc: 0.8349
Epoch 35/100
32561/32561 [==============================] - 3s 103us/step - loss: 0.3548 - acc: 0.8342
Epoch 36/100
32561/32561 [==============================] - 4s 116us/step - loss: 0.3546 - acc: 0.8344
Epoch 37/100
32561/32561 [==============================] - 3s 98us/step - loss: 0.3548 - acc: 0.8366
Epoch 38/100
32561/32561 [==============================] - 4s 116us/step - loss: 0.3544 - acc: 0.8350 0s - loss: 0.3535 - acc:
Epoch 39/100
32561/32561 [==============================] - 3s 86us/step - loss: 0.3541 - acc: 0.8338
Epoch 40/100
32561/32561 [==============================] - 3s 87us/step - loss: 0.3540 - acc: 0.8350
Epoch 41/100
32561/32561 [==============================] - 3s 100us/step - loss: 0.3537 - acc: 0.8351
Epoch 42/100
32561/32561 [==============================] - 3s 94us/step - loss: 0.3537 - acc: 0.8359
Epoch 43/100
32561/32561 [==============================] - 3s 93us/step - loss: 0.3538 - acc: 0.8358
Epoch 44/100
32561/32561 [==============================] - 4s 136us/step - loss: 0.3537 - acc: 0.8354
Epoch 45/100
32561/32561 [==============================] - 3s 94us/step - loss: 0.3537 - acc: 0.8355
Epoch 46/100
32561/32561 [==============================] - 3s 106us/step - loss: 0.3541 - acc: 0.8345
Epoch 47/100
32561/32561 [==============================] - 3s 93us/step - loss: 0.3537 - acc: 0.8354
Epoch 48/100
32561/32561 [==============================] - 3s 86us/step - loss: 0.3535 - acc: 0.8353
Epoch 49/100
32561/32561 [==============================] - 3s 90us/step - loss: 0.3533 - acc: 0.8349
Epoch 50/100
32561/32561 [==============================] - 3s 87us/step - loss: 0.3533 - acc: 0.8361
Epoch 51/100
32561/32561 [==============================] - 3s 93us/step - loss: 0.3534 - acc: 0.8357
Epoch 52/100
32561/32561 [==============================] - 3s 90us/step - loss: 0.3534 - acc: 0.8362
Epoch 53/100
32561/32561 [==============================] - 3s 87us/step - loss: 0.3530 - acc: 0.8352
Epoch 54/100
32561/32561 [==============================] - 3s 92us/step - loss: 0.3527 - acc: 0.8353
Epoch 55/100
32561/32561 [==============================] - 3s 93us/step - loss: 0.3529 - acc: 0.8365
Epoch 56/100
32561/32561 [==============================] - 3s 95us/step - loss: 0.3530 - acc: 0.8361
Epoch 57/100
32561/32561 [==============================] - 3s 90us/step - loss: 0.3529 - acc: 0.8361
Epoch 58/100
32561/32561 [==============================] - 3s 90us/step - loss: 0.3525 - acc: 0.8367
Epoch 59/100
32561/32561 [==============================] - 3s 104us/step - loss: 0.3523 - acc: 0.8362
Epoch 60/100
32561/32561 [==============================] - 4s 113us/step - loss: 0.3524 - acc: 0.8367
Epoch 61/100
32561/32561 [==============================] - 4s 119us/step - loss: 0.3526 - acc: 0.8353
Epoch 62/100
32561/32561 [==============================] - 4s 111us/step - loss: 0.3525 - acc: 0.8352
Epoch 63/100
32561/32561 [==============================] - 4s 109us/step - loss: 0.3526 - acc: 0.8365
Epoch 64/100
32561/32561 [==============================] - 4s 111us/step - loss: 0.3528 - acc: 0.8356
Epoch 65/100
32561/32561 [==============================] - 4s 110us/step - loss: 0.3521 - acc: 0.8364
Epoch 66/100
32561/32561 [==============================] - 4s 109us/step - loss: 0.3526 - acc: 0.8366
Epoch 67/100
32561/32561 [==============================] - 4s 109us/step - loss: 0.3525 - acc: 0.8355
Epoch 68/100
32561/32561 [==============================] - 4s 111us/step - loss: 0.3523 - acc: 0.8362
Epoch 69/100
32561/32561 [==============================] - 4s 111us/step - loss: 0.3525 - acc: 0.8364
Epoch 70/100
32561/32561 [==============================] - 3s 104us/step - loss: 0.3523 - acc: 0.8351
Epoch 71/100
32561/32561 [==============================] - ETA: 0s - loss: 0.3514 - acc: 0.837 - 3s 105us/step - loss: 0.3518 - acc: 0.8366
Epoch 72/100
32561/32561 [==============================] - 3s 103us/step - loss: 0.3526 - acc: 0.8360
Epoch 73/100
32561/32561 [==============================] - 3s 104us/step - loss: 0.3519 - acc: 0.8363
Epoch 74/100
32561/32561 [==============================] - 3s 105us/step - loss: 0.3523 - acc: 0.8358
Epoch 75/100
32561/32561 [==============================] - 3s 105us/step - loss: 0.3521 - acc: 0.8354
Epoch 76/100
32561/32561 [==============================] - 3s 107us/step - loss: 0.3524 - acc: 0.8367
Epoch 77/100

32561/32561 [==============================] - 3s 96us/step - loss: 0.3525 - acc: 0.8368
Epoch 78/100
32561/32561 [==============================] - 3s 96us/step - loss: 0.3521 - acc: 0.8357
Epoch 79/100
32561/32561 [==============================] - 3s 98us/step - loss: 0.3518 - acc: 0.8358
Epoch 80/100
32561/32561 [==============================] - 3s 97us/step - loss: 0.3521 - acc: 0.8359
Epoch 81/100
32561/32561 [==============================] - 3s 97us/step - loss: 0.3517 - acc: 0.8365
Epoch 82/100
32561/32561 [==============================] - 3s 98us/step - loss: 0.3517 - acc: 0.8354
Epoch 83/100
32561/32561 [==============================] - 4s 108us/step - loss: 0.3519 - acc: 0.8355
Epoch 84/100
32561/32561 [==============================] - 3s 101us/step - loss: 0.3518 - acc: 0.8369
Epoch 85/100
32561/32561 [==============================] - 3s 102us/step - loss: 0.3519 - acc: 0.8372
Epoch 86/100
32561/32561 [==============================] - 4s 122us/step - loss: 0.3519 - acc: 0.8370
Epoch 87/100
32561/32561 [==============================] - 4s 130us/step - loss: 0.3518 - acc: 0.8366
Epoch 88/100
32561/32561 [==============================] - 3s 95us/step - loss: 0.3516 - acc: 0.8371
Epoch 89/100
32561/32561 [==============================] - 4s 111us/step - loss: 0.3513 - acc: 0.8357
Epoch 90/100
32561/32561 [==============================] - 3s 105us/step - loss: 0.3516 - acc: 0.8368
Epoch 91/100
32561/32561 [==============================] - 4s 115us/step - loss: 0.3514 - acc: 0.8358
Epoch 92/100
32561/32561 [==============================] - 3s 104us/step - loss: 0.3518 - acc: 0.8356
Epoch 93/100
32561/32561 [==============================] - 4s 122us/step - loss: 0.3514 - acc: 0.8370
Epoch 94/100
32561/32561 [==============================] - 3s 106us/step - loss: 0.3514 - acc: 0.8367
Epoch 95/100
32561/32561 [==============================] - 3s 103us/step - loss: 0.3512 - acc: 0.8367
Epoch 96/100
32561/32561 [==============================] - 4s 116us/step - loss: 0.3517 - acc: 0.8358
Epoch 97/100
32561/32561 [==============================] - 4s 114us/step - loss: 0.3513 - acc: 0.8358
Epoch 98/100
32561/32561 [==============================] - 3s 102us/step - loss: 0.3510 - acc: 0.8358
Epoch 99/100
32561/32561 [==============================] - 4s 119us/step - loss: 0.3511 - acc: 0.8357
Epoch 100/100
32561/32561 [==============================] - 3s 106us/step - loss: 0.3510 - acc: 0.8369

In [81]:
accuracy_score(y_test,y_pred)

0.8263620170751182